---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- astro slot -->
	<p>Welcome to the About page!, contact information goes here. and education details</p>
</BaseLayout>