---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "experiences";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- astro slot -->
	<p>Welcome to the Experiences page!</p>
</BaseLayout>