---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home";
import Terminal from '../components/Terminal.astro';
import Background from "../components/background.astro";
---


  <!-- The meta refresh tag for a timed redirect -->
  <meta http-equiv="refresh" content="5; url=about" />
</head>

<BaseLayout>

<Terminal>
<p>> npm create astro@latest</p>
<p style="color: #27c93f;">✔ Success! Project initialized.</p>
</Terminal>
 
