---
import BaseLayout from "../layouts/BaseLayout.astro"
import Background from "../components/background.astro";
const pageTitle = "projects";
---

<Background>
	<BaseLayout pageTitle={pageTitle}>
		<!-- astro slot -->
		<p>Projects|Experiences|Skills</p>
	</BaseLayout>
</Background>