---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Skills & Education";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- astro slot -->
	<p>Welcome to the Skills & Education page!</p>
</BaseLayout>